body{
    font-family: 'Bebas Neue', cursive;
    margin: 0%;
}
.upper-tittle{
    font-size: 80px;
    color: #BDC5FF;
}
.lower-tittle{
    font-size: 150px;
    color: #F16667;
}
p{
    font-size: 25px;
}
h3{
    font-size: 30px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 2%;
}
.half-width img{
    width: 80%;
    padding: 0;
}
.link-button{
    text-decoration: none;
    background-color:#F16667;
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    background-image: linear-gradient(pink, #F16667);
}
.banner{
    background-image: url(images/banner.png);
    min-height: 100%;
  background-position: center;
  background-size: cover;
}
h1{
    font-size: 80px;
}
.banner-2{
    background-image: url(images/2nd\ b.png);
    min-height: 100%;
    background-position: center;
    background-size: cover;
}